.contenedor{
  width: 70%;
  margin: auto;
}

.contenedor-hijo{
  width: 80%;
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.color{
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  
}

button{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}