<div>
  <h1>Vistas</h1>
  <div class="tablacontenedor">
    <app-top-table
      (aplyFilterEvent)="applyFilter($event)"
      (openDialogEvent)="openDialog()"
      (refrescarEvent)="refrescar()"
      (excelEvent)="excel()"
      (pdfEvent)="pdf()"
    ></app-top-table>

    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number"
          >
            Nombre
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="icon">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number"
          >
            Icono
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>{{ element.icon }}</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number"
          >
            Nivel
          </th>
          <td mat-cell *matCellDef="let element">{{ element.level }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number"
          >
            Habilitado
          </th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="opcions">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 50]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
