<h1 class="text-center mt-5">Registrate en soliduSystems</h1>
<div class="contenedor mt-5">
  <mat-grid-list cols="2">
    <mat-grid-tile class="color">
      <!--Inicio del contenedor izqueirdo-->
      <div class="contenedor-hijo">
        <h4 class="text-center text-white">Somos mas que una compañia</h4>
        <p class="text-white">
          Nos enfocamos en el desarrollo de software de uso industrial y
          comercial. Nuestro principal giro es el desarrollo de software en web
          y móvil, con lo cual brindamos soluciones creativas, estéticas,
          amigables y pertinentes para diversos tipos de problemas específicos.
          Nuestro compromiso es siempre otorgar los mejores servicios y
          productos en el ámbito de las Tecnologías de la Información, siendo
          las principales líneas de acción las siguientes:
        </p>
      </div>
      <!--Final del contenedro izquierdo -->
    </mat-grid-tile>
    <mat-grid-tile>
      <!--Inicio del contenedor derecho -->
      <div class="contenedor-hijo">
        <h1 class="text-center mb-4">Registrate</h1>
        <form
          [formGroup]="signinForm"
          (submit)="enviar()"
          class="example-form"
        >
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input
              formControlName="username"
              type="text"
              matInput
              placeholder="Ej. Victor Miguel"
            />
            <mat-icon matSuffix>face</mat-icon>
            <mat-error
              *ngIf="this.signinForm.get('username')?.errors?.['minlength']"
            >
              El <strong>Nombre de usuario</strong> debe tener minimo 5 letras
            </mat-error>
            <mat-error
              *ngIf="this.signinForm.get('username')?.errors?.['required']"
            >
              El <strong>Nombre de usuario</strong> es requerido.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correo Electronico</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Ex. vicwell.bj@gmail.com"
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
              *ngIf="this.signinForm.get('email')?.errors?.['required']"
            >
              El <strong>Correo electronico </strong> es requerido.
            </mat-error>
            <mat-error
              *ngIf="this.signinForm.get('email')?.errors?.['email'] && !this.signinForm.get('email')?.errors?.['required']"
            >
              Por favor ingresa un correo electronico valido.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              formControlName="password"
              type="password"
              matInput
              placeholder="Ex. *******************"
            />
            <mat-icon matSuffix>lock</mat-icon>

            <mat-error
              *ngIf="this.signinForm.get('password')?.errors?.['minlength']"
            >
              El campo <strong>contraseña</strong> debe tener minimo 5 letras
            </mat-error>
            <mat-error
              *ngIf="this.signinForm.get('password')?.errors?.['required']"
            >
              El campo <strong>contraseña</strong> es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirmar Contraseña</mat-label>
            <input
              formControlName="password_confirmation"
              type="password"
              matInput
              placeholder="Ex. *******************"
            />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error
              *ngIf="this.signinForm.get('password_confirmation')?.errors?.['minlength']"
            >
              El campo <strong>confrimar contraseña</strong> debe tener minimo 5
              letras
            </mat-error>
            <mat-error
              *ngIf="this.signinForm.get('password_confirmation')?.errors?.['required']"
            >
              El campo<strong> confirmar contraseña</strong> es requerido.
            </mat-error>
          </mat-form-field>

          <button
            type="submit"
            [disabled]="!this.signinForm.valid"
            mat-raised-button
            color="primary"
          >
            Registrarme
          </button>
        </form>
        <p class="mt-3 text-center">
          <a routerLink="../login">Regresar</a>
        </p>
      </div>
      <!--Final del contenedor derecho -->
    </mat-grid-tile>
  </mat-grid-list>
</div>
