<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>soliduSystems</mat-toolbar>
    <mat-nav-list>
      <!-- Aqui ira el menu dinamico -->

      <mat-accordion >
        <mat-expansion-panel  >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>done_all</mat-icon> Categoria Uno
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>done_all</mat-icon> Categoria Uno
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>done_all</mat-icon> Categoria Uno
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>done_all</mat-icon> Categoria Uno
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
          <div class="alinging"> 
            <mat-icon>https</mat-icon>
            <a href="">Vista Uno</a>
            <mat-divider></mat-divider>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Aqui termina el menu dinamico -->
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon>Victor Miguel</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><mat-icon>manage_accounts</mat-icon>Mi Perfil</button>
          <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
        </mat-menu>

    </mat-toolbar>
    


    



  </mat-sidenav-content>
</mat-sidenav-container>
