<h1 mat-dialog-title style="text-align: center">Asignar Vistas</h1>
<form [formGroup]="categoryForm" (submit)="ok()">
  <div mat-dialog-content>

    <mat-accordion style="margin-bottom: 1rem;" *ngIf="Categorias">
      <div *ngFor="let categoria of Categorias">
        <mat-expansion-panel style="margin-bottom: 1rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon style="margin-right: 1rem;">{{ categoria.icon }}</mat-icon> {{ categoria.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section class="example-section"  >
          <div class="alinging" *ngFor="let view of categoria.View">
            <mat-checkbox formControlName="view_id"name="{{view.id}}"  [value]="view.id" class="example-margin" (change)="getViewId($event, view.id)">{{view.name}}</mat-checkbox>
            <!-- <pre>{{ view | json }}</pre> -->
          </div>
          </section>
        </mat-expansion-panel>
      </div>
    </mat-accordion>

  </div>
  <div mat-dialog-actions style="width: 100%; text-align: center">
    <button style="width: 45%" mat-button type="button" (click)="onNoClick()">
      No Thanks
    </button>
    <button
      class="color1"
      style="width: 45%"
      [disabled]="!this.categoryForm.valid"
      mat-raised-button
      type="submit"
    >
      Ok
    </button>
  </div>
</form>
