<div id="sombra" style="margin-top: 100px">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div style="width: 100%">
        <mat-card style="text-align: center; height: 200px">Foto</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="width: 100%">
        <mat-card style="height: 200px">
          <div style="text-align: center">Informacion Personal</div>
          <div style="margin-top: 2rem">
            <p><strong>Nombre De Usuario: </strong>{{ username }}</p>
            <p><strong>Correo Electronico: </strong>{{ email }}</p>
            <p><strong>Rol: </strong>{{ rol }}</p>
          </div>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div style="width: 100%; text-align: center">
        <button mat-raised-button class="color1">Cambiar Contraseña</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
