table {
    width: 100%;
  }

.tablacontenedor{
    margin: 2%;
}

h1{
    margin-top: 10px;
    text-align: center;
}

button{
    margin-bottom: 1rem;    
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

mat-form-field{
    height: 10px;
}


.example-spacer {
    flex: 1 1 auto;
}

#agregar{
    margin-left: 45%;
}

arriba-izquierda{
    background-color: black;
    display: inline-block;
}

arriba-derecha{
    background-color: black;
    display: inline-block;
}

.example-full-width {
    width: 50%;
  }